.Dropdown-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Dropdown-Title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dropdown-Form {
  width: 20vw;
}

/* Mobile View */
@media only screen and (max-width: 1180px) {
  .Dropdown-Form {
    width: 50vw;
  }
}
