.Title-AlignRight {
  display: flex;
  justify-content: flex-end;
}

.Title {
  border: 1px solid black;
  border-left: none;
  width: fit-content;
  color: white;
  padding: 10px 60px;
  font-size: large;
}

.Grey-Title {
  background-color: var(--grey);
}

.Blue-Title {
  background-color: var(--blue);
}

.MainC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 20px;
}

.Graph,
.Info {
  margin: 10px;
  position: relative;
}

.Graph {
  width: 60vw;
}

.Info {
  width: 40vw;
}

.Analysis-Tips {
  border: 3px solid var(--blue);
  border-radius: 10px;
  padding: 5px 15px;
  width: fit-content;
}

.Analysis-Tips-Text {
  line-height: 20px;
}

.Stats-Table {
  width: 100%;
  table-layout: fixed;
  padding: 0rem 1rem;
}

.Stats-Table th,
td {
  display: table-cell;
  text-align: center;
}

.Stats-Table th {
  font-style: italic;
  font-weight: normal;
}

.Stats-Table td {
  background-color: lightgrey;
  padding: 10px 5px;
}

/* Tablet View */
@media only screen and (max-width: 1110px) {
  .MainC {
    flex-direction: column;
  }

  .Graph,
  .Info {
    margin: 0px;
  }

  .Graph {
    width: 100%;
  }

  .Info {
    width: 100%;
  }

  .Stats-Table {
    padding: 0rem 8vw;
  }
}
