.Results-Analysis-Tips{
    padding: 30px 50px;
}

.Results-Analysis-Tips h2{
    width: fit-content;
    border-bottom: 3px solid var(--gold);
}

.Results-Analysis-Tips p{
    white-space: pre-wrap;
}