:root {
    --grey: #A3A3A3;
    --darkgrey: #585858;
    --lightgrey: #C4C4C4; 
    --blue: #004970; 
    --gold: #DABA11;
  }

.Subsection-Step-Title {
    border: 1px solid black;
    border-left: none;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: large;
    background-color: var(--blue);
}

.Step-1-Container, .Step-2-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    flex: 1;
}

.vl {
    border-left: 4.5px solid var(--blue);
  }

  .Submit-Button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }