.animate-slide-right{
    animation: 1s slide 0s forwards;
    transform:translateX(-100%);
}

.animate-slide-left{
    animation: 1s slide 0s forwards;
    transform:translateX(100%);
}

  /* Chrome, Safari, Opera */
  @keyframes slide {
    to {
      transform:translateX(0);
    }
  }