:root {
    --grey: #A3A3A3;
    --darkgrey: #585858;
    --lightgrey: #C4C4C4; 
    --blue: #004970; 
    --gold: #DABA11;
}

.Dropdown-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Dropdown-Title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dropdown-Form{
    width: 20vw;    
}

/* Mobile View */ 
@media only screen and (max-width: 1180px){

  .Dropdown-Form{
    width: 50vw;    
  }
    
}