.Custom-404 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.Custom-404 h1 {
  width: fit-content;
  border-bottom: 3px solid var(--gold);
  font-size: 54px;
}

.Custom-404 .meme {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Custom-404 .meme img {
  width: 500px;
  height: auto;
}

.Custom-404 .message {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Custom-404 .message p {
  width: 55%;
  font-size: large;
  line-height: 1.6;
}

@media only screen and (max-width: 900px) {
  .Custom-404 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 20px;
  }

  .Custom-404 .message p {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .Custom-404 .meme img {
    width: 400px;
    height: auto;
  }
}
