ul {
    margin: 0;
    list-style-type: none;
  padding: 0;
  }
  
  strong {
    display: inline-block;
    margin-top: 20px;
  }

  span {
    font-size: 2rem;
    color: #777;
  }
  
  .dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
  }

  .active {
    border: 3px dashed #004970;
  }

  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
  }

  ul li:hover {
    background-color: #eee;
  }

  .close {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    right: 3%;
    /* padding: 2rem; */
     transform: translate(0%, -50%);
  }

  .close:hover {color: red;}

  .Accepted{
    overflow-y: auto;
  }

  .file-structure{
    background: #777;
    color: #004970;
    width: 100%;
  }

  .delete-button{
    color: red;
  }

  .delete-button:hover{
    color: green;
  }